<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>某某某的个人博客</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href='css/base.css' rel="stylesheet">
<link href='css/index.css' rel="stylesheet">
<script type="text/javascript" src='js/jquery.min.js'></script>
<script type="text/javascript" src='js/sliders.js'></script>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <div class="logo">
      <h1>某某某的个人博客</h1>
      <p>梦虽虚幻,却是自己的梦想；位虽低微,却是自己的岗位；屋虽简陋,却是自己的家；志虽渺小,却是自己的追求。</p>
  </div>
  <nav id="topnav" class="f_r">
    <ul>
      <a href="index.html" target="_blank">首页</a> <a href="news.html" target="_blank">关于我</a> <a href="p.html" target="_blank">文章</a> <a href="a.html" target="_blank">心情</a> <a href="c.html" target="_blank">相册</a> <a href="b.html" target="_blank">留言</a>
    </ul>
    <script src="js/nav.js"></script>
  </nav>
</header>
<article>
  <div class="l_box f_l">
    <div class="postdate">
      <div class="month"></div>
      <div class="date"></div>
    </div>
    <div class="title">
        <h2><a href="http://www.baidu.org/?p=542" rel="bookmark" title="Permanent Link to Announcement: java  开发相关下载(定期更新中)">Announcement: java  开发相关下载(定期更新中)</a></h2>
        <div class="postmeta">
          <span class="postmeta_author">开水白</span>
          <span class="postmeta_category"><a href="http://www.baidu.org/?cat=14" rel="category">笔记收集</a></span>          
          <span class="postmeta_time">2012-11-08</span>
        </div><!-- end postmeta -->
        <div class="entry">
          文章内容
        </div>
        <span class="tags"><a href="http://www.baidu.org/?tag=android" rel="tag">android</a>, <a href="http://www.baidu.org/?tag=jdk" rel="tag">jdk</a></span>      <div class="info">
        Address:  <a href="http://www.baidu.org/?p=542" rel="bookmark" title="Announcement: java  开发相关下载(定期更新中)">http://www.baidu.org/?p=542</a>
      </div>

      <div class="commentstitle"><span class="trackback"><a href="http://www.baidu.org/wp-trackback.php?p=542" rel="trackback" title="Trackback URI"></a></span><h3 id="comments"><span class="commentsnumber">only 1 comment</span> untill now</h3></div>

      <ol class="commentlist">

                    <li class="alt" id="comment-59418">
                <div class="top"><a href='http://www.yopoing.com' rel='external nofollow' class='url'>yopoing</a><span class="time"> @ <a href="#comment-59418" title="">2015-06-14 10:55</a></span></div>
                <div><img alt='' src='images/default.jpg' class='avatar avatar-32 photo' height='32' width='32' /></div>
                
                <div class="body">
                                <p>好久没来看看了哦</p>
                </div>
              </li>

              <li class="alt" id="comment-59542">
                <div class="reply">
                  <div class="top"><a href="http://xnbing.org" rel="external nofollow" class="url">开水白</a><span class="time"> @ <a href="#comment-59543" title="">1970-01-01 11:08</a></span></div>
                  <div><img alt="" src="http://1.gravatar.com/avatar/f7c05a53670301b5b3c226eb8c2b93c0?s=32&amp;d=&amp;r=G" class="avatar avatar-32 photo" height="32" width="32"></div>
                  
                  <div class="body">
                                        常来逛逛哦！                  </div>
                </div>
              </li>

              <li id="comment-59419">
                <div class="top"><a href="http://www.yopoing.com" rel="external nofollow" class="url">yopoing</a><span class="time"> @ <a href="#comment-59419" title="">2015-06-14 11:08</a></span></div>
                <div><img alt="" src="http://1.gravatar.com/avatar/3e0e324eed57e31dae38f59b829f250a?s=32&amp;d=&amp;r=G" class="avatar avatar-32 photo" height="32" width="32"></div>
                
                <div class="body">
                    <p>斯特在第三方费大幅啊</p>
                </div>
              </li>
              <li id="comment-59543">
                <div class="reply">
                  <div class="top"><a href="http://xnbing.org" rel="external nofollow" class="url">开水白</a><span class="time"> @ <a href="#comment-59543" title="">1970-01-01 11:08</a></span></div>
                  <div><img alt="" src="http://1.gravatar.com/avatar/f7c05a53670301b5b3c226eb8c2b93c0?s=32&amp;d=&amp;r=G" class="avatar avatar-32 photo" height="32" width="32"></div>
                  
                  <div class="body">
                                        赶项目！                  </div>
                </div>
              </li>
      </ol>

    <div id="commentform">
    <h3 id="respond">Add your comment now</h3>

    <div class='login_info'>还没有登陆？可以登录后再评论哦。<big><a href="">&raquo;去登录</a>&nbsp;<a href="">&raquo;去注册</a></big></div>

    <form action="http://www.baidu.org/wp-comments-post.php" method="post" id="commentform">


    <p><input type="text" name="author" id="author" value="yopoing" size="25" tabindex="1" class="comment_input" />
    <label for="author">Name (required)</label></p>

    <p><input type="text" name="email" id="email" value="yopoing@vip.qq.com" size="25" tabindex="2" class="comment_input" />
    <label for="email">Email (Will NOT be published) (required)</label></p>

    <p><input type="text" name="url" id="url" value="http://www.yopoing.com" size="25" tabindex="3" class="comment_input" />
    <label for="url">URL</label></p>


    <!--<p><small><strong>XHTML:</strong> You can use these tags: &lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code class=&quot;&quot; title=&quot;&quot; data-url=&quot;&quot;&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt; &lt;pre class=&quot;&quot; title=&quot;&quot; data-url=&quot;&quot;&gt; &lt;span class=&quot;&quot; title=&quot;&quot; data-url=&quot;&quot;&gt; </small></p>-->

    <p><textarea name="comment" id="comment" cols="25" rows="5" tabindex="4" class="message_input" ></textarea></p>

    <p><input name="submit" type="submit" id="submit" tabindex="5" value="Submit" class="button" />
    <input type="hidden" name="comment_post_ID" value="542" />
    <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="999f94e7bf" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="87"/></p></p>

    </form>
    </div>
    </div>

  </div>
  <div class="r_box f_r">
    <div class="tit01">
      <h3>关注我</h3>
      <div class="gzwm">
        <ul>
          <li><a class="xlwb" href="#" target="_blank">新浪微博</a></li>
          <li><a class="txwb" href="#" target="_blank">腾讯微博</a></li>
          <li><a class="rss" href="portal.php?mod=rss" target="_blank">RSS</a></li>
          <li><a class="wx" href="mailto:admin@admin.com">邮箱</a></li>
        </ul>
      </div>
    </div>
    <!--tit01 end-->
    <div class="moreSelect" id="lp_right_select">
      <script>
window.onload = function ()
{
  var oLi = document.getElementById("tab").getElementsByTagName("li");
  var oUl = document.getElementById("ms-main").getElementsByTagName("div");

  for(var i = 0; i < oLi.length; i++)
  {
    oLi[i].index = i;
    oLi[i].onmouseover = function ()
    {
      for(var n = 0; n < oLi.length; n++) oLi[n].className="";
      this.className = "cur";
      for(var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
      oUl[this.index].style.display = "block"
    }
  }
}
</script>
      <div class="ms-top">
        <ul class="hd" id="tab">
          <li class="cur"><a href="/">浏览排行</a></li>
          <li><a href="/">评论排行</a></li>
          <li><a href="/">站长推荐</a></li>
        </ul>
      </div>
      <div class="ms-main" id="ms-main">
        <div style="display: block;" class="bd bd-news" >
          <ul>
            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
          </ul>
        </div>
        <div  class="bd bd-news">
          <ul>
            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
          </ul>
        </div>
        <div class="bd bd-news">
          <ul>
            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
          </ul>
        </div>
      </div>
      <!--ms-main end -->
    </div>
    <!--切换卡 moreSelect end -->

    <div class="cloud">
      <h3>标签云</h3>
      <ul>
        <li><a href="/">个人博客</a></li>
        <li><a href="/">web开发</a></li>
        <li><a href="/">前端设计</a></li>
        <li><a href="/">Html</a></li>
        <li><a href="/">CSS3</a></li>
        <li><a href="/">Html5+css3</a></li>
        <li><a href="/">百度</a></li>
        <li><a href="/">Javasript</a></li>
        <li><a href="/">web开发</a></li>
        <li><a href="/">前端设计</a></li>
        <li><a href="/">Html</a></li>
        <li><a href="/">CSS3</a></li>
        <li><a href="/">Html5+css3</a></li>
        <li><a href="/">百度</a></li>
      </ul>
    </div>
    <div class="tuwen">
      <h3>文章归档</h3>
      <ul>
        <li>
          <p><span class="tutime font-size-18"><a href=''>2015年2月文章归档</a></span></p>
        </li>
        <li>
          <p><span class="tutime font-size-18"><a href=''>2015年3月文章归档</a></span></p>
        </li>
        <li>
          <p><span class="tutime font-size-18"><a href=''>2015年4月文章归档</a></span></p>
        </li>
        <li>
          <p><span class="tutime font-size-18"><a href=''>2015年5月文章归档</a></span></p>
        </li>
        <li>
          <p><span class="tutime font-size-18"><a href=''>2015年6月文章归档</a></span></p>
        </li>
      </ul>
    </div>
    <div class="links">
      <h3>友情链接</h3>
      <ul>
        <li><a href="/">web开发</a></li>
        <li><a href="/">前端设计</a></li>
        <li><a href="/">Html</a></li>
        <li><a href="/">CSS3</a></li>
        <li><a href="/">Html5+css3</a></li>
        <li><a href="/">百度</a></li>
      </ul>
    </div>
  </div>
  <!--r_box end -->
</article>
<footer>
  <p class="ft-copyright">某某某的个人博客 蜀ICP备xxxxxxx号-1</p>
  <div id="tbox"> <a id="togbook" href="/"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
</footer>
</body>
</html>
