<nav id="topnav" class="f_r">
    <ul>
        <a href="index.html" target="_blank">首页</a> <a href="news.html" target="_blank">关于我</a> <a href="p.html"
                                                                                                   target="_blank">文章</a>
        <a href="a.html" target="_blank">心情</a> <a href="c.html" target="_blank">相册</a> <a href="b.html"
                                                                                           target="_blank">留言</a>
    </ul>
    <script src="js/nav.js"></script>
</nav>